* text=auto

*.md      text diff=markdown
*.ini     text
*.cfg     text

*.svg     text
*.ase     binary
*.aseprite binary
*.png     binary
*.jpg     binary
*.jpeg    binary
*.gif     binary
*.tif     binary
*.tiff    binary
*.ico     binary

*.cs      text
*.csproj  text merge=union
*.gd      text
*.tres    text
*.tscn    text
*.import  text
